@import "../../styles/theme";

a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.small {
        padding: 8px 10px;
    }
}

.button {
    padding: 10px 15px;
    color: $light;
    border-radius: 12px;
    font-family: "Sen";
    font-size: 1.3em;
    border: 3px solid transparent;
    transition: all 150ms ease-in;
    cursor: pointer;

    .withicon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    svg path {
        transition: all 0.3s;
        fill: $dark;
    }

    &:hover, &.primary {
        svg path {
            fill: white;
        }
    }
    
    &.primary {
        background: $primary;
        span {color: $light!important;}
    }

    &.small {
        padding: 6px 10px;
        font-size: 1.1em;
    }

    &.danger {
        background: $danger!important;
        border-color: $danger!important;
        color: white;
    }

    &.success {
        background: $success;
    }
    
    &.secondary {
        background: transparent;
        color: $primary;
        border: 3px solid $primary;

        &:hover {
            background: $primary;
            color: $light;
        }
    }

    &.action {
        background: transparent;

        &:hover, &.active {
            border: 3px solid #6c63ff;
        }
    }

    &.disabled, &:disabled {
        pointer-events: none;
        cursor: none;
        opacity: 0.7;
    }

    .icon {
        margin-right: 5px;
        width: 24px;
        height: 24px;
    }

}