@import "../../../styles/theme";
.builds {
    .container {
        h3 {
            margin-bottom: 15px;
        }


        .env-vars {
            margin-top: 15px;
        }

        label {
            font-size: 1.2em;
            margin-top: 15px;
            
        }

        .env-var {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            
        }

        .key, .value {
            width: 49%;
        }

        .actions {
            margin-top: 30px;

            button {
                margin-right: 15px;
            }
        }
    }
}