@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

@font-face {
    font-family: "Time Burner";
	src: url("../assets/fonts/TimeBurner.ttf") format("truetype");
}

@font-face {
    font-family: "Time Burner";
    font-weight: bold;
	src: url("../assets/fonts/TimeBurner-bold.ttf") format("truetype");
}