.apps {
    .container {
        margin-top: 15px;
        display: flex;
        background: white;
        padding: 15px;
        border-radius: 8px;
        min-height: 500px;
        flex-direction: column;

        .top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            > * {
                width: 100%;
            }

            :nth-child(2) {
                width: 15%;
                margin-left: 15px;
            }

            @media screen and (max-width: 1000px) {
                flex-direction: column;
                justify-content: left;
                align-items: flex-start;

                :nth-child(2) {
                    width: 100%;
                    padding: 13px 0px;
                    margin: 0 auto;
                    margin-top: 15px;
                    display: flex;
                    border: none;
                }
            }
        }

        .list {
            display: flex;
            margin-top: 15px;
            flex-direction: column;
        }
    }
}