.apps {
    .container {
        margin-top: 15px;
        display: flex;
        background: white;
        padding: 15px;
        border-radius: 8px;
        min-height: 500px;
        flex-direction: column;

        .top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .list {
            display: flex;
            margin-top: 15px;
            flex-direction: column;
        }
    }
}