@import "../../styles/theme";

.logo {
    &.absolute {
        position: absolute;
        left: 25px;
        top: 25px;
    }

    h1 {
        font-family: 'Time Burner';
        font-weight: bold;
        color: white;
        font-size: 4em;

        &.primary {
            color: $primary;
        }
    }
}