@import "../../../styles/theme";

.edit-app {

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .check {
        color: $success;
    }

    .app-infos {
        h3 {
            margin-bottom: 5px;
        }

        a {
            color: $primary;

            @media screen and (max-width: 1200px) {
                margin-bottom: 10px;
            }
        }

        p {
            margin-top: 10px;
            display: flex;
            align-items: center;
            svg {
                margin-right: 5px;
            }
        }

        .container-actions {
            @media screen and (max-width: 1200px) {
                &::before {
                    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, #000 25%, #000 90%, rgba(255, 255, 255, 0) 100%);
                    content: "";
                    display: block;
                    height: 2px;
                    margin-bottom: 15px;
                    opacity: 0.2;
                    width: 100%;
                }
                margin-top: 15px;
            }
        }

        .actions {
            // display: flex;
            margin-top: 15px;
            > * {
                margin-right: 15px;
            }

            &.bottom {
                position: absolute;
                bottom: 0;

                @media screen and (max-width: 1200px) {
                    position: relative;
                }
            }
        }

    }
    .recent-builds {
        .builds {
            margin-bottom: 15px;
        }
    }

    .usage {
        height: fit-content;
        padding-bottom: 50px;
    }
}