@import "../../../styles/theme";

.edit-app {

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .check {
        color: $success;
    }

    .app-infos {
        h3 {
            margin-bottom: 5px;
        }

        a {
            color: $primary;
        }

        p {
            margin-top: 10px;
            display: flex;
            align-items: center;
            svg {
                margin-right: 5px;
            }
        }

        .actions {
            // display: flex;
            margin-top: 15px;
            > * {
                margin-right: 15px;
            }

            &.bottom {
                position: absolute;
                bottom: 0;
            }
        }

    }
    .recent-builds {
        .builds {
            margin-bottom: 15px;
        }
    }

    .usage {
        height: fit-content;
        padding-bottom: 50px;
    }
}